.btn-container {
    display: flex;
    flex: 1;

    justify-content: center;
    margin: 5px;
}

.button {
    font-family: "Nunito Sans", Sans-serif;
    font-size: 14px;
    background-color: #e06969;
    padding: 15px 30px;
    border-radius: 4px;
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    color: #fff;
    text-align: center;
    transition: all .5s;
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
    color: #e06969;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;

    margin: 15px;
}

.header-container {
    display: flex;
}

.rowHeader {
    display: flex;
    flex-direction: row;
    flex: 1;

    align-items: center;
    justify-content: center;

    min-height: 50px;
    max-width: 90%;

    margin: auto;

    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.rowHeader>h5 {

    flex: 2;

    border: 1px solid pink;
    margin: 150px;

    color: #444444;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 0px;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.rowHeader>h2 {

    flex: 1;

    border: 1px solid green;

    color: #444444;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 0px;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.input-group {
    display: flex;
    flex-direction: row;
}

.input-result {
    display: flex;
    min-width: 100%;
}

#result {
    flex: 1;
}

.licence {
    flex: 1;
    
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}

.group {
    position: relative;
    margin: 45px 0;
    flex: 1;
}

input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}

input:focus {
    outline: none;
}

input:focus ~ label, input:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #e06969;
}

input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
    width: 100%;
}

label {
    color: #c6c6c6;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before {
    content: '';
    height: 1px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #e06969;
    transition: 300ms ease all;
    left: 0%;
}